version: '3.8'

services:
  web:
    build: .
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portfolio.rule=Host(`albertogallardo.traefik.me`)"
      - "traefik.http.services.portfolio.loadbalancer.server.port=80"
    restart: unless-stopped
